.Spinner {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	animation: loading .5s forwards;
}

.Spinner span {
	color: white;

}

@keyframes loading {
	from {
		background-color: rgba(0,0,0, 0);
	}

	to {
		background-color: rgba(0,0,0, .3);
	}

}